.landing-page {
    background-image: url('../images/bgadmin.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire container */
  }
  
  .landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white overlay */
    backdrop-filter: blur(5px); /* Apply blur effect to the background image */
  }

.home-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../images/bgadmin.jpg');
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-size: cover;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white overlay */
  backdrop-filter: blur(5px); /* Apply blur effect to the background image */
}

.home-container h1{
  font-size: 35px;
  font-weight: 700;
  padding: 15px 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.home-container div{
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: row;
}

.home-container .sidebar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  width: 20vw;
  height: 80vh;
  margin-right: 40px;
  background-color: white;
  border-radius: 15px;
}

.home-container .sidebar p{
  font-size: 30px;
  font-weight: 800;
}

.home-container .sidebar ul li{
  list-style: none;
  margin: 15px 0;
  cursor: pointer;
  /* border: 1px solid black; */
  padding: 5px 10px;
}
.main-container{
  font-size: 20px;
}

.home-container .main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
  padding: 0 15%;
  background-color: white;
  border-radius: 15px;
}


.home-container .main-container .personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  background-color: white;
  border-radius: 15px;
}


.home-container .personal-info div{
display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.home-container .main-container div p{
min-width: 120px;
text-align: left;
text-align: left;
}

.main-container .personal-info1 div{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}